/* navbar */
.top-navbar .sotto-navbar {
  vertical-align: center;
  margin-top: 10px;
  height: 20px;
	width: 100%;
}
#color {
  background-color: #b6e1f2;
}
.section1 {
  background-image: url("img/sfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.allineata * {
  display: inline-block;
}
.allineata > .btn.btn-default.btn-sm {
    margin-left: 90%;
}
.destra {
  float: right;
}
.sinistra {
  float: left;
}

#dist-colsx {
 margin: 30% auto 20% auto;
 color: white;
 font-size: 1.5em;
 font-weight: bold;
}
/* sezione1 */
.deplyform {
  text-align: center;
  background-color: white;
  padding-top: 10%;
  padding-bottom: 15%;
  margin-top: 20%;
  margin-right: 10%;
  margin-bottom: 15%;
  border-radius: 2%;
}
#inputemail {
  width: 80%;
}
#inputpassword {
  width: 80%;
  margin-top: 2%;
}
.botton_deplyform {
  display: block;
  width: 80%;
  margin-top: 25px;
  height: 60px;
  margin-bottom: 10%;
  margin-left: 10%;
}
.bottongreen {
  color: white;
  font-weight: 800;
  background-color: #15cd72;
  margin-bottom: 5%;

}
.bottongreen:hover {
  background-color: #399A62;
}

#iconagoogle {
  margin-left: -37px;
  height: 24px;
  margin-right: 15px;
}
/* sezione2 */

.colore3 {
  background-color: #f3f5f9;
}
.cont_flex {
  display: flex;
  justify-content: space-between;
}

/* sezione3 */
#bardeploy {
 line-height: 4;
 font-size: 18px;
}
#bardeploy > li {
 padding-right: 30px;
}



/* sezione4 */
.boxsect4 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;

}

/* sezione 6 */
.sfondo {
  background-image: url("img/sfondo6.png");
  text-align: center;
  color: white;
}
.tabella {
  margin-left: 50px;
  margin-bottom: 130px;
  padding-bottom: 30px;
  }
.tabella ,th ,td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.tabella ,tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* sezione7 */
#image7 {
 margin-left: 20%;
}
#colorebianco {
  color: white;
}
button {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
  line-height: 1.9;
  font-weight: 700;
  color: blue;
}
